{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "eslint-config-prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src", "test"],
                "extensions": [".ts", ".tsx"]
            }
        }
    },
    "env": {
        "browser": true,
        "node": true
    }
}
